*{
    margin: 0;
    padding: 0;
}  

.cardsRow{
    display: flex;
    justify-content: space-between;
    align-items: start; 
    
} 

.nav-link.NavLink{
    color: #000;
    font-variant: small-caps;
    letter-spacing: 5px;
}

.topbanner{
    font-variant: small-caps;
    letter-spacing: 3px;
    
}
.caroCaption{
    /* background-color: #000; */
    top: 50%;
}

.captionHead{
    font-family: 'Times New Roman';
    font-size: 112px;
    /* letter-spacing: 5px; */
    font-variant: small-caps;
}

.btn.btn-dark{
    border-radius: 0px;
    letter-spacing: 5px;
}

.fontawesomeIco{
    width: 30px;
    height: 55px;
} 

.features{
    color: #8e8e8e;
    line-height: 2;
}

h1{
    font-family: 'Times New Roman';
}
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    line-height: 2;
    
}
html {
    scroll-behavior: smooth;
}

h4, h5, h1{
    font-family: 'GT America Trial';
}
p{
    font-family: 'Arial';
    font-size: 13px;
}

.imageIco{
    height: 320px;
}

body {
    background-color: #000;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    color: white;
}
main {
    min-height: 85vh;

}
.row{
    display: flex;
    justify-content: center;
    align-items: start; 
}
.product{
    width: 350px;
    color: #fff;
    margin: 20px;
}
button{
    border-radius: 90px;
    padding: 2px;
}

footer {
    background-color: #2c2c2c;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icon {
    color: white;
    font-size: 1.6rem;
    margin: 0 0.3rem;
    transition: all 0.3s;
}
.footer__icon:hover {
    color: orangered;
}

.icon{
    margin-top: 2px;
    color: red;
} */
/* .imageIco{
    height: 320px;
} */


